# Add and remove the elements from a tuple.

In [3]:
tup1=(1,3,4,6,7,8)

In [4]:
tup1

(1, 3, 4, 6, 7, 8)

In [5]:
list1 = list(tup1)
list1

[1, 3, 4, 6, 7, 8]

In [6]:
list1 [3] = 50
list1

[1, 3, 4, 50, 7, 8]

In [7]:
list1 [0] = 200

In [9]:
list1

[200, 3, 4, 50, 7, 8]

In [7]:
tup1 = tuple(list1)
tup1

(200, 3, 4, 50, 7, 8)